{% load static %}
{% block sidebar %}
        <!-- ========== App Menu ========== -->
        <div class="app-menu navbar-menu">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <!-- Dark Logo-->
                <a href="{% url 'core:dashboard' %}" class="logo logo-dark">
                    <span class="logo-sm">
                        {% if negocio.logo %}
                        <img src="{{ negocio.logo.url }}" alt="" height="22">
                        {% else %}
                        <img src="{% static 'images/logo-sm.png'%}" alt="" height="22">
                        {% endif %}
                    </span>
                    <span class="logo-lg">
                        {% if negocio.logo %}
                        <img src="{{ negocio.logo.url }}" alt="" height="17">
                        {% else %}
                        <img src="{% static 'images/logo-dark.png'%}" alt="" height="17">
                        {% endif %}
                    </span>
                </a>
                <!-- Light Logo-->
                <a href="{% url 'core:dashboard' %}" class="logo logo-light">
                    <span class="logo-sm">
                        {% if negocio.logo %}
                        <img src="{{ negocio.logo.url }}" alt="" height="22">
                        {% else %}
                        <img src="{% static 'images/logo-sm.png'%}" alt="" height="22">
                        {% endif %}
                    </span>
                    <span class="logo-lg">
                        {% if negocio.logo %}
                        <img src="{{ negocio.logo.url }}" alt="" height="17">
                        {% else %}
                        <img src="{% static 'images/logo-light.png'%}" alt="" height="17">
                        {% endif %}
                    </span>
                </a>
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>

            <div id="scrollbar">
                <div class="container-fluid">
                    <ul class="navbar-nav" id="navbar-nav">
                        <li class="menu-title"><span data-key="t-menu">Menú</span></li>
                        <li class="nav-item">
                            <a href="{% url 'core:dashboard' %}" class="nav-link menu-link">
                                <i data-feather="home" class="icon-dual"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        {% if request.user.perfil.rol == "CAJERO" %}
                        <li class="nav-item">
                            <a href="{% url 'compras:buscar_cliente' %}" class="nav-link menu-link">
                                <i data-feather="search" class="icon-dual"></i> <span>Buscar cliente</span>
                            </a>
                        </li>
                        {% endif %}
                        {% if request.user.perfil.rol == "DUENO" %}
                        <li class="nav-item">
                            <a href="{% url 'core:reportes' %}" class="nav-link menu-link">
                                <i data-feather="bar-chart-2" class="icon-dual"></i> <span>Reportes</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
            <div class="sidebar-background"></div>
        </div>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>
{% endblock sidebar %}
